<!-- Lia McClane -->
<!-- creating a dynamic cherboad that users can type into the url and create the size -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkerboard.css') }}">
    <title>Lia's Checkerboard</title>

</head>

<body>
    <h1>Lia's Dynamic Checkerboard</h1>
    <div id="wrapper">

        

        {% for i in range(0,x): %}
        <div class="row">
            {% for j in range(0,y)%}
            <div class="squ"></div>
            {% endfor%}
        </div>
        {% endfor %}
    </div>
    <hr>
    <p>{{phrase}}</p>
    <!-- 
<div class="row">
    <div class="squ">placeholder</div><div class="squ">placeholder</div><div class="squ">placeholder</div>
</div>
<div class="row">
    <div class="squ">placeholder</div>
    <div class="squ">placeholder</div>
    <div class="squ">placeholder</div>
</div>
<div class="row">
    <div class="squ">placeholder</div>
    <div class="squ">placeholder</div>
    <div class="squ">placeholder</div>
</div> -->
</body>

</html>